@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    margin: 0;
    font-family: 'Familjen Grotesk', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background: #1b0b3a;
}

body *{
    box-sizing: border-box;
}

header{
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo{
    font-family: 'Lobster', cursive;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;   
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
 }


header ul li a:hover{
    background: rgb(59, 2, 134);
    color: #ffffff;

}

.main-register{
    width: 100vw;
    height: 100vh;
    background: #1b0b3a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.left-register{
    margin-top: 90px;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left-register > h1{
    font-size: 1.4vw;
    color: #e3e3e3;
}

.left-register-img{
    width: 35vw;
}


.right-register{
    margin-top: 90px;

    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.card-register{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 30px;
    background: #1b0b3a;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #a229f956;
}

.card-register > h1{
    font-family: 'Lobster', cursive;
    color: #ffffff; 
    font-weight: 800;
    margin: 0;
}

.card-register p{
    text-align: center;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.btn-confirmar {
    width: 60%;
    padding: 16px 0px;
    border: none;
    margin: 15px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff;
    background: rgba(88, 0, 202, 0.822);
    cursor: pointer;
    box-shadow: 0px 2px 3px rgba(126, 62, 210, 0.822);
}

.btn-confirmar a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.btn-confirmar:hover{
    background: #210e4e;
}

.cursos h1{
    font-family: 'Lobster', cursive;
    margin-top: 100px;
    margin-left: 40%;
    font-size: 45px;
    justify-content: center;
    color: #fff;
}
.cursos p{
    color: #fff;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-left: 35%;
    font-size: 20px;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 14 00px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    color: #fff;
    background-color: #1b0b3a;
}

.container .card{
    width: 25%;
    height: 55%;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(88, 0, 202, 0.822);
    overflow: hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 280px;
    height: 190px;
}

.container .card a{
    padding: 20px 30px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 950px){
    .card-register{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-register{
        flex-direction: column;   
    }
    .left-register{
        display: none;
    }
    .left-register{
        width: 100%;
        height: auto;
    }
    .right-register{
        width: 100%;
        height: auto;
    }
    .left-register-img{
        width: 50vh;
    }

    .card-register{
        width: 90%;
    }    
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #110c1b;
    height: auto;
    width: 100vw;
    font-family: 'Familjen Grotesk', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
}

.socials{  
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0rem 1 3rem 0;
}
.socials li{
    
    margin: 0 10px;
    justify-content: space-between;
}
.socials a{
    text-decoration: none;
}

.socials a i{
    font-size: 3rem;
    transition: color .2s ease;
}

.socials a:hover i{
    color: #ffffff;
}

.footer-bottom{
    background: #110c1b;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


:root{
    --color-python: rgb(102, 0, 219);
    --color-framework: rgb(56, 0, 121);
    --color-banco: rgb(155, 50, 224);
    --color-css: rgb(184, 114, 231);
}

body .graf{
    background: #1b0b3a;
    margin: 0;
    margin-left: 8%;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}
.title-grafico{
    
    font-family: 'Lobster', cursive;
    margin-top: 100px;
    margin-left: 37%;
    font-size: 45px;
    justify-content: center;
}

.container-grafico{
    width: 700px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.grafico{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(var(--color-python) 40%,
    var(--color-framework) 40% 70%,
    var(--color-banco)70% 88%,
    var(--color-css)88%);
    box-shadow: 0px 10px 40px 2px #a229f956;
}

.legenda-all{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
[class^="color-"]{
    width: 15px;
    height: 15px;
    background-color: var(--color-python);
    margin-left: 8px;
    border-radius: 3px;
}

.color-framework{
    background-color: var(--color-framework);
}
.color-banco{
    background-color: var(--color-banco);
}
.color-css{
    background-color: var(--color-css);
}
.linguagem{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-size: 15px;
}

.total{
    padding: 10px;
    border-radius: 3px;
    background-color: blueviolet;
}


.github a{
    align-items: center;
    display: flex;
    font-size: 40px;
    color: #fff;
    margin-right: 40px;
}

.github a:HOVER{
    color: #8150e2;
}