<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Sobre mim | Eduardo A.</title>
</head>
<body>
    <header>
        <a href="{{url_for('index')}}" class="logo">Eduardo A.</a>
        <ul class="nav-links">
            <li> <a href="{{url_for('index')}}" class="active">ínicio</a></li>
            <li> <a href="{{url_for('about')}}">Sobre</a></li>
            <li> <a href="{{url_for('project')}}">Projetos</a></li>
            <li> <a href="{{url_for('contact')}}">Contato</a></li>
        </ul>
    </header>
    <div class="main-register"> 
            <div class="left-register">
            <img src="{{ url_for('static', filename='about-me.svg') }}" id="contact">   
            </div>
            <div class="right-register" data-aos="flip-left">
                <div class="card-register">
                    <h1>Sobre mim</h1>
                    <p>Nascido no estado de Minas Gerais, tenho 22 anos e atulamente estou morando na Espanha! Desde muito novo sempre tive contato computador e tecnologia,
                        e desde o meu primeiro computador eu nunca mais o abandonei. Apaixonado pelo mundo dos games e da tecnologia,
                        comecei minha jornada na programação há 4 meses e venho aprendendo cada dia mais, estou em busca de ampliar meu conhecimentos
                        já que estou apenas começando. Uma nova jornada trabalhando nessa área sei que será ótimo para que eu cresça, aprenda mais e 
                        posso ajudar com tudo que já aprendi até aqui.
                    </p>
                    <button class="btn-confirmar" href="{{url_for('contact')}}">
                        <a href="{{url_for('contact')}}"> Entre em contato</a>
                    </button>
                </div>
            </div> 
    </div>
    <div class="graf">
        <h1 class="title-grafico" data-aos="fade-up">Habilidades.</h1>
        <section class="container-grafico" data-aos="fade-up">
            <div class="grafico"></div>
            <div class="legenda">
                <span class="legenda-all">
                    <span class="color-python"></span>
                    <p class="linguagem">65% Python</p>
                </span>
                <span class="legenda-all">
                    <span class="color-framework"></span>
                    <p class="linguagem">40% Flask Framework</p>
                </span>
                <span class="legenda-all">
                    <span class="color-banco"></span>
                    <p class="linguagem">50% MySQL/SQLite3</p>
                </span>
                <span class="legenda-all">
                    <span class="color-css"></span>
                    <p class="linguagem">35% HTML/CSS</p>
                </span>
                <p class="total">TOTAL: 190%</p>
            </div>
            
        </section>
    </div>
    <div class="cursos">
        <h1 data-aos="fade-up">Formações & Cursos</h1>
        <p data-aos="fade-up">Atualmente cursando desenvolvimento back-end na unopar.</p>
        <section class="form-curso">
            <div class="container">
                <div class="card" data-aos="zoom-in-up">
                    <h2>Curso em Python Avançado.</h2>
                    <a href="https://www.udemy.com/certificate/UC-a819c465-a59f-4d77-ab8d-83bed1517e51/">
                        <img src="{{ url_for('static', filename='python-r.png') }}">              
                    </a>
                </div>
                <div class="card" data-aos="zoom-in-up">
                    <h2>Rest APIs com Python e Flask.</h2>              
                    <a href="https://www.udemy.com/certificate/UC-7b53e602-d0ec-479c-9db8-2dd3461c6cb2/">
                        <img src="{{ url_for('static', filename='flask-r.png') }}">
                    </a>
                </div>
                <div class="card" data-aos="zoom-in-up">
                    <h2>Introdução a programação.</h2>              
                    <a href="https://www.dio.me/certificate/47F79137/share">
                        <img src="{{ url_for('static', filename='python-r.png') }}">
                    </a>
                </div>
            </div>
            <div class="container">
                <div class="card" data-aos="zoom-in-up">
                    <h2>Logica de programção essencial.</h2>
                    <a href="https://www.dio.me/certificate/D233A75F/share">
                        <img src="{{ url_for('static', filename='python-r.png') }}">              
                    </a>
                </div>
                <div class="card" data-aos="zoom-in-up">
                    <h2>SQL Server: Boas práticas em bancos.</h2>              
                    <a href="https://www.dio.me/certificate/6D72BE97/share">
                        <img src="{{ url_for('static', filename='sql.png') }}">
                    </a>
                </div>
                <div class="card" data-aos="zoom-in-up">
                    <h2>MYSQL: Trabalhando com as primeiras tabelas.</h2>              
                    <a href="https://www.dio.me/certificate/43C2A929/share">
                        <img src="{{ url_for('static', filename='mysql-r.png') }}">
                    </a>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="footer-content">
            <h3>Eduardo Augusto | Back-end Developer.</h3>
            <p> All rigths reserved ®.</p>
            <ul class="socials">
                <li><a href="https://github.com/eduardoaoc"><i class="bi bi-github"></i></a></li>
                <li><a href="mailto:edudtk7@gmail.com?subject=Proposta%20de%20trabalho%20%7C%20Job%20offer.&body=Ol%C3%A1%20eu%20sou%20o%20Eduardo.%0D%0A%0D%0APara%20entrar%20em%20contato%2Cbasta%20enviar%20um%20email%20nesse%20endere%C3%A7o%3A%20edudtk7%40gmail.com%0D%0AAberto%20a%20todas%20as%20propostas%2C%20muito%20obrigado!%0D%0A%0D%0A%0D%0A%0D%0A%0D%0AHi%2C%20I'm%20Eduardo.%0D%0A%0D%0ATo%20get%20in%20touch%2Cjust%20send%20an%20email%20to%20that%20address%3A%20edudtk7%40gmail.com%0D%0AOpen%20to%20all%20proposals%2C%20thank%20you%20very%20much!"><i class="bi bi-google"></i></a></li>
                <li><a href="https://www.linkedin.com/in/eduardo-augusto-41436b233/"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyrightⒸ 2022. designed by Eduardo A.</p>
        </div>
    </footer> 
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration:1000
        });
    </script>  
</body>
</html>